.policies {
  &__table {

    &:not(:last-child) {
      margin-bottom: 6rem
    }
    &--heading {
      text-align: center;
      color: #08b2e3;
      font-size: 3rem;
      padding: 1rem 0  ;
      border-bottom: 2px solid rgba(224, 224, 224, 0.72);
    }
    &__entry {
      padding: 2rem 0  ;
      border-bottom: 2px solid rgba(224, 224, 224, 0.72);

      &--title {
        display: inline-block;
        width: 90%;
        font-size: 1.8rem;
      }
      &--link {
        float: right;
        display: inline-block;

        & img {
          height: 1,6rem;
        }
      }

    }
  }
}