{% extends 'base.html' %}

{% block base %}
    <section class="landing">
        <div class="landing__headers">
            <img class="heading__landing heading__landing--main"
                 src="/static/images/logo/logo.png"
                 alt="Share Respite Logo"/>
            <h2 class="heading__landing heading__landing--sub">Safe Haven & Respite Environment</h2>
        </div>
    </section>


    <h1 class="heading__primary">Do you have a disabled child? (aged 3-19 years)</h1>

    <div class="u-container">
        <section class="home">
            <div class="row">
                <div class="col-1-of-2"><img class="home__img--1" src="/static/images/landing/back4.jpg"></div>
                <div class="col-1-of-2">
                    <p class="paragraph">
                        We’ve created activities that are fun, smart, and save the day when school is out. We have preschool and school-age programs that kids love. We offer flexible scheduling options to meet the needs of busy families like yours.
                        <br><br>
                        Every child is different, but they all have one thing in common. They like to have fun! That’s why we’ve designed many different programs for summertime that are safe, conveniently located and flexible enough to work with your busy schedule.
                        <br><br>
                        As a registered charity we have been supporting families since 1982. Not only will your child have a chance to be part of something they are already interested in but they’ll have a chance to discover something brand new
                    </p>
                </div>
            </div>

        </section>

        <section class="home__read-more">
            <div class="row">
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/van-icon.html' %}
                        <h2 class="home__read-more__card--header">Activities</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">We have lots of activited to keep your child happy!</p>
                        <p class="home__read-more__card--read-more">Read More</p>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/staff-icon.html' %}
                        <h2 class="home__read-more__card--header">Meet Our Staff</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">We have a high staff ratio and are all highly qualified and CRB checked.</p>
                        <p class="home__read-more__card--read-more">Read More</p>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/contact-icon.html' %}
                        <h2 class="home__read-more__card--header">Get In Touch</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">Get in touch and one of our staff will be in touch ASA</p>
                        <p class="home__read-more__card--read-more">Read More</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="u-offset">
        <section class="u-container home__about">
                <div class="home__about--text-box">
                    <h2 class="heading__secondary heading__secondary--white u-text-left u-margin-medium"><span class="u-underline">Ab</span>out Us</h2>
                    <p class="paragraph u-text-left">As a registered charity we have been supporting families since 1982. We offer a wide range of opportunities for young people with disabilities . We do this through our holiday and out of school clubs with a range of fun activities within a happy safe and relaxed environment. We have a high staff ratio and are all highly qualified and CRB checked.</p>
                </div>
            <img class="home__about--img" src="/static/images/landing/back7.jpg">
        </section>
    </div>

    <section class="home__staff">
        <div class="u-container">

            <h2 class="heading__secondary u-margin-big"><span class="u-underline-blue">Me</span>et The Team</h2>

            <div class="slideshow">
                <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_1.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
                 <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_2.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
                 <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_3.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
                 <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_4.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
                 <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_3.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
                 <!--slide-->
                <div class="slide">
                    <div class="slide__inner">
                        <div class="slide__card--front">
                            <div class="slide__card--front--img" style="background-image: url('/static/images/staff/staff_2.jpg')"></div>
                            <p class="slide__card--front--staff">Trish</p>
                            <p class="slide__card--front--role">Deputy Manager</p>
                        </div>
                        <div class="slide__card--back">
                            <p class="slide__card--back--staff">John Doe</p>
                            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, eum impedit labore numquam odit tenetur totam. Aspernatur at, atque doloribus eos, explicabo fugiat harum magnam natus, praesentium provident recusandae sed.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="donation__banner">
        <div class="u-container">
            <div class="donation__banner--text">
                <h2 class="heading__secondary u-text-left u-margin-small">Donations For Share</h2>
                <p class="paragraph u-text-left">Any donations would be greatly appreciated, and 100% of what you donate will be put towards the children.</p>
                <p class="donation__banner--text--ach u-margin-big">Achieved: <span>£1024.32</span></p>
                <a href="" class="button button__primary">Find Out More</a>
            </div>
        </div>
    </section>

    <section class="sponsers">
    <div class="u-container">
        <h2 class="heading__secondary u-margin-big">A Special Thanks To <span class="u-underline-blue">All</span> Our Sponsers</h2>
    <div class="row">
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponser_1.png')"></div>
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponser_2.jpg')"></div>
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponser_3.png')"></div>
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponser_4.png')"></div>
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponsers_5.jpg')"></div>
        <div class="sponsers__sponser" style="background-image: url('/static/images/sponsers/sponser_6.png')"></div>
    </div>

    </div>

    </section>
{% endblock %}