{% extends 'base.html' %}

{% block page_header %}
    <h1 class="heading__primary--padded">Activities</h1>
{% endblock %}

{% block base %}
    <section class="activity">
        <div class="u-container">
            <table class="activity__table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activities</th>
                        <th>Items To Bring</th>
                        <th>Meeting Area</th>
                        <th>Slots</th>
                    </tr>
                </thead>
                <tbody>
                    {% for activity in activities %}
                        <tr>
                            <td>{{ activity.date.day }}/{{ activity.date.month }}</td>
                            <td><span class="u-bold">{{ activity.title }}</span> - {{ activity.activity}}!</td>
                            <td>{{ activity.items }}</td>
                            <td>{{ activity.meeting }}</td>
                            <td>{{ activity.slots }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}