{% extends 'base.html' %}

{% block page_header %}
    <h1 class="heading__primary--padded">Activities</h1>
{% endblock %}

{% block base %}
    <section class="activity">
        <div class="u-container">
            {% for blurb in blurb %}
                <p class="paragraph u-text-center u-margin-big">{{ blurb.text }}</p>
            {% endfor %}

            <h2 class="policies__table--heading">Activity Schedules</h2>
            <div class="policies__table">
                {% for activity in activities %}
                        <div class="policies__table__entry">
                            <p class="policies__table__entry--title">{{ activity.week }}</p>
                            <a class="policies__table__entry--link" href="{{ activity.file.url }}"><img src="/static/icons/file_download.png"></a>
                        </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}