{% extends 'base.html' %}

{% block base %}
    <h1 class="heading__primary--padded">Activities</h1>
    <section class="activity">
        <div class="u-container">
            <table class="activity__table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Activities</th>
                        <th>Items To Bring</th>
                        <th>Meeting Area</th>
                        <th>Slots</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>25th June</td>
                        <td>In the Garden: Get muddy and help make a mud kitchen or welly boot planting! Then, make a chocolate rocky road cake or your own fruit smoothie!</td>
                        <td>Spare clothes, Packed lunch</td>
                        <td>At share</td>
                        <td>22</td>
                    </tr>
                    <tr>
                        <td>25th June</td>
                        <td>In the Garden: Get muddy and help make a mud kitchen or welly boot planting! Then, make a chocolate rocky road cake or your own fruit smoothie!</td>
                        <td>Spare clothes, Packed lunch</td>
                        <td>At share</td>
                        <td>22</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}