{% extends 'base.html' %}

{% block page_header %}
    <h1 class="heading__primary--padded">Contact Us</h1>
{% endblock %}

{% block base %}
    <section class="contact">
        <div class="u-container">


            <div class="row">
                <div class="col-1-of-2">
                    <h2 class="u-margin-small">Opening Times</h2>
                    <ul class="contact__openings">
                        {% for opening in openings %}

                            <li class="paragraph">{{ opening.day }} | {{ opening.opening }} - {{ opening.closing }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-1-of-2">
                    {% for contact in contacts %}
                        <h2 class="u-margin-small">{{ contact.name }}</h2>
                        <p class="contact__details paragraph">{{ contact.number }}</p>
                        <p class="contact__details paragraph">{{ contact.email }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}