{% extends 'base.html' %}

{% block base %}


    <h1 class="heading__primary--padded">Contact Us</h1>
    <section class="contact">
        <div class="u-container">


            <div class="row">
                <div class="col-1-of-2">
                    <h2 class="u-margin-small">Opening Times</h2>
                    <ul class="contact__openings">
                        <li>Monday | 9 - 6</li>
                        <li>Tuesday | 9 - 6</li>
                        <li>Wednesday | 9 - 6</li>
                        <li>Thursday | 9 - 6</li>
                        <li>Friday | 9 - 6</li>
                    </ul>
                </div>
                <div class="col-1-of-2">
                    <h2 class="u-margin-small">Share Respite</h2>
                    <p class="contact__details">01268 521 691</p>
                    <p class="contact__details">share.enquiries@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}