{% extends 'base.html' %}

{% block head_js %}
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

{% endblock %}

{% block page_header %}
    <h1 class="heading__primary--padded">Fundraising</h1>
{% endblock %}

{% block base %}


    <section class="donations">
        <div class="u-container">

            <div class="row">
                <div class="col-2-of-3">
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias consectetur consequuntur doloremque eos expedita hic illum ipsam magnam maxime nihil officia pariatur, quas quibusdam quos. Animi molestias provident qui.</p>
                    <br>
                    <p class="paragraph u-margin-small">Any donations would be greatly appreciated, and 100% of what you donate will be put towards the children.</p>
                    <p class="donation__banner--text--ach u-margin-big">Achieved: <span>{{ ach }}</span></p>

                </div>
                <div class="col-1-of-3">
                <div class="donations__form">

                    <img src="/static/images/logo/logo.png" class="donations__form--logo">

                    <input type="number" class="donations__form--input" value="10.00" name="message" id="user_input">

                    <button type="submit" class="button__primary u-full-width" onclick="showInput();">Donate</button>
                </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cardpay-form.html' %}


    <script src="/static/js/payment.js"></script>



{% endblock %}