{% extends 'base.html' %}

{% block base %}
    <section class="landing" style="background-image: url('{{ image_1.img.url }}')">
        <div class="landing__headers">
            <img class="landing__headers--logo"
                 src="/static/images/logo/logo.png"
                 alt="Share Respite Logo"/>
            <h2 class="heading__landing heading__landing--sub">Safe Haven & Respite Environment</h2>
        </div>
    </section>


    <h1 class="heading__primary"><div class="u-container">Do you have a disabled child? (aged 3-19 years)</div></h1>

    <div class="u-container">
        <section class="home">
            <div class="row">
                <div class="col-1-of-2"><img class="home__img--1" alt="Home image 1" src="{{ image_2.img.url }}"></div>
                <div class="col-1-of-2 u-autoescaped">
                    {% for text in landing %}
                        {% autoescape off %}
                            {{ text.text }}
                        {% endautoescape %}
                    {% endfor %}
                </div>
            </div>

        </section>

        <section class="home__read-more">
            <div class="row">
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/van-icon.html' %}
                        <h2 class="home__read-more__card--header">Activities</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">We have lots of activited to keep your child happy!</p>
                        <a  href="/activites" class="home__read-more__card--read-more">Read More</a>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/staff-icon.html' %}
                        <h2 class="home__read-more__card--header">Meet Our Staff</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">We have a high staff ratio and are all highly qualified and CRB checked.</p>
                        <a href="/staff" class="home__read-more__card--read-more">Read More</a>
                    </div>
                </div>
                <div class="col-1-of-3">
                    <div class="home__read-more__card">
                        {% include 'icons/info-icon.html' %}
                        <h2 class="home__read-more__card--header">Information</h2>
                        <p class="paragraph read-more__card--text u-margin-medium">Get in touch and one of our staff will be in touch ASA</p>
                        <a href="/information" class="home__read-more__card--read-more">Read More</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="u-offset">
        <section class="u-container home__about">
                <div class="home__about--text-box u-autoescaped">
                    <h2 class="heading__secondary heading__secondary--white u-text-left u-margin-small"><span class="u-underline">Ab</span>out Us</h2>
                    {% for text in about %}
                        {% autoescape off %}
                            {{ text.text }}
                        {% endautoescape %}
                    {% endfor %}
                </div>
            <img class="home__about--img" alt="Home image 2" src="{{ images_3.img.url }}">
        </section>
    </div>

    <section class="home__staff">
        <div class="u-container">

            <h2 class="heading__secondary u-margin-medium"><span class="u-underline-blue">Me</span>et The Team</h2>

            <div class="slideshow">
                {% for staff in staff %}
                    <!--slide-->
                    <div class="slide">
                        <div class="slide__inner">
                            <div class="slide__card--front">
                                <div class="slide__card--front--img" style="background-image: url( {{ staff.img.url }})"></div>
                                <p class="slide__card--front--staff">{{ staff.first_name }}</p>
                                <p class="slide__card--front--role">{{ staff.role }}</p>
                            </div>
                            <div class="slide__card--back">
                                <p class="slide__card--back--staff">{{ staff.first_name }} {{ staff.last_name }}</p>
                                <div class="u-autoescaped u-text-smaller">
                                    {% autoescape off %}
                                        <p>{{ staff.bio | truncatewords:40 }}</p>
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="donation__banner" style="background-image: url('{{ image_4.img.url }}')">
        <div class="u-container">
            <div class="donation__banner--text">
                <h2 class="heading__secondary u-text-left u-margin-small">Donations For Share</h2>
                <p class="paragraph u-text-left u-margin-small">Any donations would be greatly appreciated, and 100% of what you donate will be put towards the children.</p>
                <p class="donation__banner--text--ach u-margin-medium">Achieved: <span>{{ ach }}</span></p>
                <a href="/fundraising" class="button button__primary">Find Out More</a>
            </div>
        </div>
    </section>



{% endblock %}