{% extends 'base.html' %}
{% block page_header %}
    <h1 class="heading__primary--padded">Information</h1>
{% endblock %}

{% block base %}
    <section class="info u-container">
        <div class="row">
            <div class="col-2-of-3">
                <div class="info__content u-autoescaped">
                    {% for text in info %}
                        {% autoescape off %}
                            {{ text.text }}
                        {% endautoescape %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-1-of-3">
                <div class="corkboard">
                    {% for sticky in stickys %}
                        <div class="sticky-note">
                            <div class="sticky-note--pin"></div>
                            <p class="paragraph">{{ sticky.text }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}