{% extends 'base.html' %}
{% block base %}
    <h1 class="heading__primary--padded">Information</h1>
    <section class="info u-container">
        <div class="row">
            <div class="col-2-of-3">
                <div class="info__content">
                    <p class="paragraph">We offer a range of opportunities for young people with additional needs, within our provision we offer different sessions from preschool upwards which include:CookingArt & craftsMusicTable tennisGardeningWii / XboxChildren benefit by learning social skills with workers who take the  time and opportunity to teach new skills whilst making new friends.For parents we provide a sense of care and well-being for their children, giving peace of mind and respite.We have a range of highly qualified staff.All our staff get to know the children's needs so as to understand the importance of individuality.Staff will care for each individual child accordingly.We run the following clubs:After SchoolTuesdays & Thursday 3pm - 7pmSaturday - 10-3pmHoliday clubs run throughout the year - 10-3pmContact us for more information</p></div>
                </div>
            <div class="col-1-of-3">
                <div class="corkboard">
                    <div class="sticky-note">
                        <div class="sticky-note--pin"></div>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur eligendi fuga harum inventore ipsam officia placeat quisquam rerum veniam. Labore maxime nemo odio! Fuga fugit maiores numquam officiis quaerat?</p>
                    </div>
                    <div class="sticky-note">
                        <div class="sticky-note--pin"></div>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur eligendi fuga harum inventore ipsam officia placeat quisquam rerum veniam. Labore maxime nemo odio! Fuga fugit maiores numquam officiis quaerat?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}