{% extends 'base.html' %}

    {% block page_header %}
        <h1 class="heading__primary--padded">Policies</h1>
    {% endblock %}
{% block base %}
    <section class="policies">
        <div class="u-container">

            {% for category in categories %}
                {% if category.policy_set.exists %}
                    <h2 class="policies__table--heading">{{ category.category }}</h2>
                    <div class="policies__table">
                        {% for policy in policies %}
                            {% if policy.id == category.id %}
                                <div class="policies__table__entry">
                                    <p class="policies__table__entry--title">{{ policy.title }}</p>
                                    <a class="policies__table__entry--link" href="{{ policy.file.url }}"><img src="/static/icons/file_download.png"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}