{% extends 'base.html' %}

{% block base %}

    <h1 class="heading__primary--padded">Cookies & Privacy</h1>
    <section class="u-container">
    <h2 class="heading__secondary u-text-left">CRSF Token</h2>
    <p class="paragraph u-text-left u-margin-medium">The cross-site request forgery cookie is a first-party cookie linked to the contact form. This cookie protects against cross-site request forgery.</p>
    <h2 class="heading__secondary u-text-left">Stripe</h2>
    <p class="paragraph u-text-left">After you place an order on our website you will need to make payment for the goods or services you have ordered. In order to process your payment we use Stripe, a third party payment processor.
        <br><br>Your payment will be processed by Stripe, who collect, use and process your information, including payment information, in accordance with their privacy policies.
        <br><br>You can access their privacy policy via the following link: <a href="https://stripe.com/gb/privacy">https://stripe.com/gb/privacy</a></p>
    </section>
{% endblock %}