{% extends 'base.html' %}

    {% block page_header %}
        <h1 class="heading__primary--padded">Reviews</h1>
    {% endblock %}

{% block base %}

    <section class="reviews">
    <div class="u-container">
        <div class="chalkboard">
            {% for review in reviews %}

            <div class="chalkboard__slider">
                <div class="review--{{ forloop.counter }} chalkboard__review">
                    <p class="chalkboard__review--text">{{ review.review }}</p>
                    <p class="chalkboard__review--author">{{ review.author }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </section>
{% endblock %}