{% extends 'base.html' %}

{% block base %}

    <h1 class="heading__primary--padded">Reviews</h1>
    <section class="reviews">
    <div class="u-container">
        <div class="chalkboard">

            <div class="chalkboard__slider">
                <div class="review--1 chalkboard__review">
                    <p class="chalkboard__review--text">Staff are so friendly and happy for my son to attend. Feel completely at ease.</p>
                    <p class="chalkboard__review--author">Karis Waller</p>
                </div>
            </div>

            <div class="chalkboard__slider">
                <div class="review--2 chalkboard__review">
                    <p class="chalkboard__review--text">Our experience of the Nursery has been fantastic and we would definitely recommend to others. It’s a shame we didn’t know about it for our older daughter.</p>
                    <p class="chalkboard__review--author">Lewis Smith</p>
                </div>
            </div>
            <div class="chalkboard__slider">
                <div class="review--3 chalkboard__review">
                    <p class="chalkboard__review--text">My daughter has bloomed at the Nursery. She is growing into a strong independent, free- thinking child. We put much of this down to the care and attention she has received at the Nursery.</p>
                    <p class="chalkboard__review--author">Callum Pullinger</p>
                </div>
            </div>
            <div class="chalkboard__slider">
                <div class="review--4 chalkboard__review">
                    <p class="chalkboard__review--text">We are very pleased with the Nursery. Our daughter has improved socially and academically already. She can recognise letters and numbers in such a short space of time. All the teachers are brilliant!</p>
                    <p class="chalkboard__review--author">Zoe Ball</p>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}