{% extends 'base.html' %}

{% block page_header %}
    <h1 class="heading__primary--padded">Meet Our Staff</h1>
{% endblock %}

{% block base %}

    {% for role in roles %}
        {% if role.staff_set.exists %}
            <section class="staff-gallery {% if forloop.counter|divisibleby:2 %}u-offset{% endif %}">
                <div class="u-container">
                <h1 class="heading__secondary u-margin-medium">{{ role.role }}s</h1>
                    {% for staff in staff %}
                        {% if staff.role.id == role.id %}
                            <div class="staff-gallery__staff">
                                <div class="staff-gallery__staff__img" style="background-image: url({{ staff.img.url }})"></div>
                                <div class="staff-gallery__staff__text">
                                    <p class="staff-gallery__staff__text--staff">{{ staff.first_name }} {{ staff.last_name }}</p>
                                    <div class="staff-gallery__staff__text--bio u-autoescaped u-text-smaller">
                                        {% autoescape off %}
                                            {{ staff.bio }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    {% endfor %}

{% endblock %}