{% extends 'base.html' %}

{% block base %}

    <h1 class="heading__primary--padded">Meet Our Staff</h1>
    <section class="staff-gallery">
        <div class="u-container">
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_1.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="staff-gallery u-offset">
        <div class="u-container">
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_2.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_3.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_4.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_1.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
        </div>
    </section><section class="staff-gallery">
        <div class="u-container">
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_2.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_3.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
            <div class="staff-gallery__staff">
                <div class="staff-gallery__staff__img" style="background-image: url('/static/images/staff/staff_4.jpg')"></div>
                <div class="staff-gallery__staff__text">
                    <p class="staff-gallery__staff__text--staff">Michelle</p>
                    <p class="staff-gallery__staff__text--role">Manager</p>
                    <p class="staff-gallery__staff__text--bio paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolore fugiat modi quisquam, reiciendis tempora velit. Aut, dolorum labore neque nesciunt nobis nulla officiis saepe sapiente sunt totam vero voluptas?</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}