.u-container {
  width: 90%;
  margin: 0 auto;
}

.u-offset {
  background-color: #d6d6d6;
}

.u-margin-small {
  margin-bottom: 1rem;
}
.u-margin-medium {
  margin-bottom: 2rem;
}
.u-margin-big{
  margin-bottom: 3rem;
}

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-underline {
    border-bottom: #fdff5e 3px solid;
}
.u-underline-blue {
    border-bottom: #08b2e3 3px solid;
}

.u-float-left {
  float: left;
}

.u-bold {
  font-weight: bold;
}

.u-text-smaller p {
  font-size: 1.6rem;
}