/* Reset */
/* line 2, static/scss/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 10, static/scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 14, static/scss/base/_base.scss */
body {
  box-sizing: border-box; }

/* line 18, static/scss/base/_base.scss */
section {
  padding: 3rem 0; }
