/* Testimonial Animation */
@-moz-keyframes cycle {
  0% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  10% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@-moz-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0; }
  15% {
    top: -325px;
    opacity: 0; }
  25% {
    top: 0;
    opacity: 1; }
  35% {
    top: 0;
    opacity: 1; }
  45% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@-moz-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0; }
  40% {
    top: -325px;
    opacity: 0; }
  50% {
    top: 0;
    opacity: 1; }
  60% {
    top: 0;
    opacity: 1; }
  70% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  95% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0; } }

@-moz-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0; }
  65% {
    top: -325px;
    opacity: 0; }
  75% {
    top: 0;
    opacity: 1; }
  85% {
    top: 0;
    opacity: 1; }
  95% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: 0;
    opacity: 1; } }

/* line 148, static/scss/base/_animations.scss */
.review--1 {
  animation: cycle 25s linear infinite; }

/* line 149, static/scss/base/_animations.scss */
.review--2 {
  animation: cycle2 25s linear infinite; }

/* line 150, static/scss/base/_animations.scss */
.review--3 {
  animation: cycle3 25s linear infinite; }

/* line 151, static/scss/base/_animations.scss */
.review--4 {
  animation: cycle4 25s linear infinite; }

/* Reset */
/* line 2, static/scss/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none; }

/* line 11, static/scss/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 15, static/scss/base/_base.scss */
body {
  box-sizing: border-box; }

/* line 19, static/scss/base/_base.scss */
section {
  padding: 3rem 0; }

/* line 1, static/scss/base/_typography.scss */
h1, h2, p, a, th, td, label, input, li {
  font-family: 'Lexend Deca', sans-serif; }

/* line 7, static/scss/base/_typography.scss */
.heading__landing {
  text-align: center;
  font-size: 2rem;
  color: white; }
  /* line 12, static/scss/base/_typography.scss */
  .heading__landing--main {
    display: block;
    margin: 0 auto 1rem auto; }
  /* line 17, static/scss/base/_typography.scss */
  .heading__landing--sub {
    font-size: 4rem;
    font-family: 'Indie Flower', cursive; }

/* line 24, static/scss/base/_typography.scss */
.heading__primary {
  background-color: #08b2e3;
  text-align: center;
  padding: 1rem 0;
  font-size: 3.5rem;
  color: white; }
  /* line 31, static/scss/base/_typography.scss */
  .heading__primary--padded {
    background-color: #08b2e3;
    text-align: center;
    padding: 4rem 0;
    font-size: 3.5rem;
    color: white; }

/* line 40, static/scss/base/_typography.scss */
.heading__secondary {
  font-size: 4rem;
  text-align: center; }
  /* line 44, static/scss/base/_typography.scss */
  .heading__secondary--white {
    font-size: 4rem;
    color: white; }

/* line 51, static/scss/base/_typography.scss */
.paragraph {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #5f5f5f;
  font-family: 'Roboto', sans-serif; }

/* line 58, static/scss/base/_typography.scss */
.u-autoescaped p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #5f5f5f;
  font-family: 'Roboto', sans-serif; }

/* line 1, static/scss/base/_utilities.scss */
.u-container {
  width: 90%;
  margin: 0 auto; }

/* line 6, static/scss/base/_utilities.scss */
.u-offset {
  background-color: #d6d6d6; }

/* line 10, static/scss/base/_utilities.scss */
.u-margin-small {
  margin-bottom: 1rem; }

/* line 13, static/scss/base/_utilities.scss */
.u-margin-medium {
  margin-bottom: 2rem; }

/* line 16, static/scss/base/_utilities.scss */
.u-margin-big {
  margin-bottom: 3rem; }

/* line 20, static/scss/base/_utilities.scss */
.u-text-left {
  text-align: left; }

/* line 24, static/scss/base/_utilities.scss */
.u-text-center {
  text-align: center; }

/* line 28, static/scss/base/_utilities.scss */
.u-underline {
  border-bottom: #fdff5e 3px solid; }

/* line 31, static/scss/base/_utilities.scss */
.u-underline-blue {
  border-bottom: #08b2e3 3px solid; }

/* line 35, static/scss/base/_utilities.scss */
.u-float-left {
  float: left; }

/* line 39, static/scss/base/_utilities.scss */
.u-bold {
  font-weight: bold; }

/* line 43, static/scss/base/_utilities.scss */
.u-text-smaller p {
  font-size: 1.6rem; }

/* line 2, static/scss/components/_donations_banner.scss */
.donation__banner {
  padding: 12rem 0;
  background-image: url("/static/images/landing/back5.jpg?98411843adb0");
  background-color: rgba(121, 121, 121, 0.81);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center; }
  /* line 10, static/scss/components/_donations_banner.scss */
  .donation__banner--text {
    color: white;
    font-size: 1.5em; }
    /* line 14, static/scss/components/_donations_banner.scss */
    .donation__banner--text p {
      color: white;
      font-size: 2.2rem; }
    /* line 19, static/scss/components/_donations_banner.scss */
    .donation__banner--text--ach {
      font-size: 2.6rem !important; }

/* line 2, static/scss/components/_button.scss */
.button__primary {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #08b2e3; }
  /* line 24, static/scss/abstract/_mixins.scss */
  .button__primary:hover {
    transform: translateY(-0.6rem);
    transition: all .2s; }

/* line 8, static/scss/components/_button.scss */
.button__secondary {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: #08b2e3; }
  /* line 24, static/scss/abstract/_mixins.scss */
  .button__secondary:hover {
    transform: translateY(-0.6rem);
    transition: all .2s; }

/* line 1, static/scss/components/_contact-form.scss */
.contact-form label {
  color: white;
  font-size: 1.7rem;
  padding-bottom: 1rem; }

/* line 7, static/scss/components/_contact-form.scss */
.contact-form {
  background-color: #08b2e3;
  padding: 3rem; }
  /* line 10, static/scss/components/_contact-form.scss */
  .contact-form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    padding: 1rem 0 .5rem 0;
    color: white;
    font-size: 1.7rem; }
    /* line 18, static/scss/components/_contact-form.scss */
    .contact-form input::placeholder {
      color: #f1f1f1; }
    /* line 22, static/scss/components/_contact-form.scss */
    .contact-form input:not(:last-child) {
      margin-bottom: 2rem; }

/* line 28, static/scss/components/_contact-form.scss */
.map {
  border-top: 3px solid white !important;
  height: 40rem; }

@media screen and (min-width: 1000px) {
  /* line 34, static/scss/components/_contact-form.scss */
  .contact-form {
    width: 50%;
    float: left;
    height: 40rem;
    padding: 3rem 3rem 3rem 0; }
    /* line 40, static/scss/components/_contact-form.scss */
    .contact-form__background {
      display: table;
      width: 100%;
      clear: both;
      background-color: #08b2e3; }
    /* line 46, static/scss/components/_contact-form.scss */
    .contact-form__container {
      width: 80%;
      margin: 0 auto; }
  /* line 51, static/scss/components/_contact-form.scss */
  .map {
    border-top: none !important;
    width: 50%;
    float: right;
    height: 40rem;
    position: absolute; } }

/* line 1, static/scss/components/_corkboard.scss */
.corkboard {
  background-image: url("/static/images/corkboard.jpg?4e44a22b73dd");
  background-size: cover;
  border: 8px solid burlywood;
  padding: 1rem; }

/* line 8, static/scss/components/_corkboard.scss */
.sticky-note {
  background-color: #f8ff7f;
  padding: 1rem; }
  /* line 11, static/scss/components/_corkboard.scss */
  .sticky-note:nth-child(even) {
    background-color: #99f3fd; }
  /* line 15, static/scss/components/_corkboard.scss */
  .sticky-note:not(:last-child) {
    margin-bottom: 2rem; }
  /* line 18, static/scss/components/_corkboard.scss */
  .sticky-note p {
    padding: 0 1rem 1rem 1rem; }
  /* line 21, static/scss/components/_corkboard.scss */
  .sticky-note--pin {
    display: block;
    margin: 1rem auto;
    background-color: red;
    width: 15px;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem rgba(40, 40, 40, 0.45);
    height: 15px;
    border-radius: 50%; }

/* line 1, static/scss/components/_sponsers.scss */
.sponsers {
  text-align: center; }
  /* line 3, static/scss/components/_sponsers.scss */
  .sponsers__sponser {
    display: inline-block;
    width: 15rem;
    height: 12rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem; }

/* line 1, static/scss/components/_header.scss */
.header {
  display: table;
  width: 100%;
  clear: both; }
  /* line 4, static/scss/components/_header.scss */
  .header__contact {
    font-size: 1.5rem;
    padding: .5rem 0;
    text-align: center;
    top: 0;
    z-index: 200;
    display: table;
    width: 100%;
    clear: both;
    width: 100%;
    background-color: #08b2e3;
    color: white; }
    /* line 14, static/scss/components/_header.scss */
    .header__contact--phone {
      transition: all 0.2s;
      text-transform: uppercase; }
      /* line 18, static/scss/components/_header.scss */
      .header__contact--phone:hover {
        transform: scale(1.2); }
    /* line 22, static/scss/components/_header.scss */
    .header__contact--email {
      transition: all 0.2s;
      text-transform: uppercase; }
      /* line 25, static/scss/components/_header.scss */
      .header__contact--email:hover {
        transform: scale(1.2); }
  /* line 31, static/scss/components/_header.scss */
  .header svg {
    display: inline-block;
    float: left;
    fill: #08b2e3;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    transition: all .2s; }
  /* line 41, static/scss/components/_header.scss */
  .header #menu-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(0%); }
  /* line 48, static/scss/components/_header.scss */
  .header__header {
    padding: 1rem 0;
    display: table;
    width: 100%;
    clear: both;
    position: relative; }
  /* line 54, static/scss/components/_header.scss */
  .header__logo-box {
    float: left; }
    /* line 56, static/scss/components/_header.scss */
    .header__logo-box--logo {
      height: 10rem; }
  /* line 61, static/scss/components/_header.scss */
  .header__nav-link {
    width: 100%;
    text-align: center;
    display: block;
    height: 6rem;
    transition: all .2s;
    padding: 1rem 2rem;
    cursor: pointer; }
    /* line 70, static/scss/components/_header.scss */
    .header__nav-link:last-child {
      margin-bottom: 1rem; }
    /* line 74, static/scss/components/_header.scss */
    .header__nav-link--text {
      display: inline-block;
      font-size: 1.8rem;
      text-align: right;
      padding: 1rem 0;
      text-transform: uppercase;
      color: #08b2e3;
      float: left;
      margin-left: 5rem;
      text-decoration: none; }
    /* line 85, static/scss/components/_header.scss */
    .header__nav-link:hover {
      background-color: #08b2e3; }
      /* line 87, static/scss/components/_header.scss */
      .header__nav-link:hover .header__nav-link--text {
        color: white; }
      /* line 91, static/scss/components/_header.scss */
      .header__nav-link:hover > svg {
        fill: white; }
  /* line 97, static/scss/components/_header.scss */
  .header__nav {
    display: none; }

@media screen and (min-width: 1000px) {
  /* line 104, static/scss/components/_header.scss */
  #menu-icon {
    display: none; }
  /* line 107, static/scss/components/_header.scss */
  .header {
    margin-top: 2.8rem; }
    /* line 109, static/scss/components/_header.scss */
    .header__nav {
      display: block;
      float: right; }
    /* line 114, static/scss/components/_header.scss */
    .header__logo-box {
      position: absolute;
      transform: translateY(-15%);
      border-radius: 50%;
      background-color: white;
      height: 12rem;
      width: 12rem;
      padding: 1rem;
      z-index: 100;
      box-shadow: 1px 5px 0.5rem 0.1rem rgba(0, 0, 0, 0.55);
      transition: all .2s; }
      /* line 125, static/scss/components/_header.scss */
      .header__logo-box:hover {
        transform: scale(1.2) translateY(-1.5rem); }
      /* line 129, static/scss/components/_header.scss */
      .header__logo-box--logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 11rem;
        height: unset; }
    /* line 139, static/scss/components/_header.scss */
    .header__header {
      padding: 0; }
    /* line 143, static/scss/components/_header.scss */
    .header svg {
      display: inline-block;
      text-align: center;
      float: unset;
      fill: #08b2e3;
      width: 4rem;
      height: 4rem;
      transition: all .2s;
      margin: 0 auto; }
    /* line 154, static/scss/components/_header.scss */
    .header__nav-link {
      width: 10rem;
      height: unset;
      float: left;
      margin: 0;
      padding: 1rem; }
      /* line 161, static/scss/components/_header.scss */
      .header__nav-link:last-child {
        margin-bottom: 0; }
      /* line 165, static/scss/components/_header.scss */
      .header__nav-link--text {
        display: block;
        font-size: 1.2rem;
        text-align: center;
        padding: .5rem 0 0 0;
        text-transform: uppercase;
        float: unset;
        margin-left: 0;
        transition: all .2s; }
      /* line 175, static/scss/components/_header.scss */
      .header__nav-link:hover {
        background-color: #08b2e3; }
        /* line 177, static/scss/components/_header.scss */
        .header__nav-link:hover .header__nav-link--text {
          color: white; }
        /* line 181, static/scss/components/_header.scss */
        .header__nav-link:hover > svg {
          fill: white;
          transform: scale(1.1) translateY(-0.5rem); }
    /* line 190, static/scss/components/_header.scss */
    .header__contact {
      position: fixed; }
      /* line 192, static/scss/components/_header.scss */
      .header__contact--email {
        float: right;
        text-align: right; }
      /* line 196, static/scss/components/_header.scss */
      .header__contact--phone {
        float: left;
        text-align: left; } }

/* line 8, static/scss/components/_slideshow.scss */
.slide__card--front {
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18); }
  /* line 11, static/scss/components/_slideshow.scss */
  .slide__card--front--img {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center; }
  /* line 17, static/scss/components/_slideshow.scss */
  .slide__card--front--staff {
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0 0 0;
    color: #08b2e3; }
  /* line 24, static/scss/components/_slideshow.scss */
  .slide__card--front--role {
    text-align: center;
    font-size: 2rem;
    padding: .5rem 0 1rem 0; }

/* line 30, static/scss/components/_slideshow.scss */
.slide__card--back {
  display: none; }

/* line 37, static/scss/components/_slideshow.scss */
.slick-slider {
  margin: 0 auto;
  width: 80%; }

/* line 42, static/scss/components/_slideshow.scss */
.slick-slide {
  height: 41rem;
  margin: 0 1rem;
  text-align: center; }

/* line 48, static/scss/components/_slideshow.scss */
.slick-prev:before, .slick-next:before {
  color: #282828; }

@media screen and (min-width: 1000px) {
  /* line 54, static/scss/components/_slideshow.scss */
  .slick-slider {
    width: 100%; }
  /* line 58, static/scss/components/_slideshow.scss */
  .slick-slide {
    width: 25rem !important; }
  /* line 63, static/scss/components/_slideshow.scss */
  .slide {
    cursor: pointer; }
    /* line 65, static/scss/components/_slideshow.scss */
    .slide:hover .slide__inner {
      transform: rotateY(180deg); }
    /* line 69, static/scss/components/_slideshow.scss */
    .slide__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d; }
    /* line 78, static/scss/components/_slideshow.scss */
    .slide__card--front {
      width: 100%;
      box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
      position: absolute;
      backface-visibility: hidden; }
      /* line 83, static/scss/components/_slideshow.scss */
      .slide__card--front--img {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center; }
      /* line 89, static/scss/components/_slideshow.scss */
      .slide__card--front--staff {
        text-align: center;
        font-size: 3rem;
        padding: 1rem 0 0 0;
        color: #08b2e3; }
      /* line 96, static/scss/components/_slideshow.scss */
      .slide__card--front--role {
        text-align: center;
        font-size: 2rem;
        padding: .5rem 0 1rem 0; }
    /* line 103, static/scss/components/_slideshow.scss */
    .slide__card--back {
      display: block;
      overflow: hidden;
      height: 38.8rem;
      width: 100%;
      box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
      position: absolute;
      backface-visibility: hidden;
      background-color: white;
      transform: rotateY(180deg); }
      /* line 114, static/scss/components/_slideshow.scss */
      .slide__card--back--staff {
        font-size: 2.3rem;
        padding-bottom: .5rem;
        color: #08b2e3; }
      /* line 119, static/scss/components/_slideshow.scss */
      .slide__card--back:last-child {
        padding: 2rem 1rem; }
  /* line 127, static/scss/components/_slideshow.scss */
  .slick-slide {
    height: 41rem; }
  /* line 131, static/scss/components/_slideshow.scss */
  .slick-prev:before, .slick-next:before {
    color: #282828; } }

/*
.slide {
    cursor: pointer;
    &:hover &__inner {
        transform: rotateY(180deg);
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    &__card {
        &--front {
            width: 29rem;
            margin-left: 1rem;
            margin-right: 1rem;
            box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
            position: absolute;
            backface-visibility: hidden;
            &--img {
                width: 100%;
                height: 30rem;
                background-size: cover;
                background-position: center;
            }
            &--staff {
                text-align: center;
                font-size: 3rem;
                padding: 1rem 0 0rem 0;
                color: #08b2e3;
            }

            &--role {
                text-align: center;
                font-size: 2rem;
                padding: .5rem 0 1rem 0;
            }
        }
        &--back {
            height: 38.8rem;
            width: 29rem;
            margin-left: 1rem;
            margin-right: 1rem;
            box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
            position: absolute;
            backface-visibility: hidden;
            background-color: white;
            transform: rotateY(180deg);

            &--staff {
                font-size: 2.3rem;
                padding: 1rem;
                color: #08b2e3;
            }
        }
    }

}

.slick-slide {
    height: 41rem;
}

.slick-prev:before, .slick-next:before {
    color: #282828;
}
*/
/* line 1, static/scss/components/_footer.scss */
.footer {
  width: 100%;
  padding: 3rem;
  display: table;
  width: 100%;
  clear: both;
  position: relative;
  background-color: #d6d6d6; }
  /* line 8, static/scss/components/_footer.scss */
  .footer__logo {
    height: 10rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  /* line 15, static/scss/components/_footer.scss */
  .footer__nav {
    display: block;
    text-align: center;
    margin-bottom: 3rem; }
    /* line 19, static/scss/components/_footer.scss */
    .footer__nav--item {
      display: inline-block;
      color: white;
      font-size: 2.1rem;
      padding: .5rem 0; }
      /* line 24, static/scss/components/_footer.scss */
      .footer__nav--item:not(:last-child) {
        margin-right: 2rem; }
  /* line 31, static/scss/components/_footer.scss */
  .footer p {
    text-align: center;
    color: white;
    font-size: 2rem; }

/* line 1, static/scss/layout/_grid.scss */
.row {
  margin: 0 auto;
  padding: 0; }
  /* line 5, static/scss/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 0; }
  /* line 9, static/scss/layout/_grid.scss */
  .row::after {
    content: '';
    display: table;
    clear: both; }
  /* line 15, static/scss/layout/_grid.scss */
  .row [class^='col-'] {
    width: 100%;
    text-align: center; }
  /* line 20, static/scss/layout/_grid.scss */
  .row .col-1-of-4__social {
    float: left;
    width: calc((100% - 3 * 0rem) / 4);
    border: none; }

@media screen and (min-width: 1000px) {
  /* line 33, static/scss/layout/_grid.scss */
  .row [class^='col-'] {
    float: left;
    width: unset;
    border: none; }
    /* line 40, static/scss/layout/_grid.scss */
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem;
      float: left; }
  /* line 46, static/scss/layout/_grid.scss */
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  /* line 50, static/scss/layout/_grid.scss */
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  /* line 54, static/scss/layout/_grid.scss */
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  /* line 57, static/scss/layout/_grid.scss */
  .row .col-1-of-6 {
    width: calc((100% - 5 * 6rem) / 6); }
    /* line 59, static/scss/layout/_grid.scss */
    .row .col-1-of-6--nav {
      width: calc((100% - 5 * 6rem) / 6); }
  /* line 64, static/scss/layout/_grid.scss */
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  /* line 68, static/scss/layout/_grid.scss */
  .row .col-2-of-4 {
    width: calc(((100% - 6rem) / 2)); }
  /* line 72, static/scss/layout/_grid.scss */
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); } }

/* line 1, static/scss/pages/_activities.scss */
#mobile-table {
  display: none; }

/* line 6, static/scss/pages/_activities.scss */
.activity .u-container {
  overflow-x: scroll; }

/* line 11, static/scss/pages/_activities.scss */
table {
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  width: 100%;
  text-align: left;
  border-spacing: 0 0;
  border-radius: .5rem; }
  /* line 17, static/scss/pages/_activities.scss */
  table thead {
    font-size: 1.5rem; }
    /* line 20, static/scss/pages/_activities.scss */
    table thead th {
      color: #08b2e3;
      padding: 2rem 2rem .5rem 0;
      border-bottom: 2px solid rgba(224, 224, 224, 0.72); }
  /* line 28, static/scss/pages/_activities.scss */
  table tbody td {
    font-size: 1.4rem;
    padding: 2rem 2rem 2rem 0;
    border-bottom: 2px solid rgba(224, 224, 224, 0.72); }

/* Landing */
/* line 3, static/scss/pages/_home.scss */
.landing {
  position: relative;
  background-image: url("/static/images/landing/back9.jpg?4e44a22b73dd");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(98, 98, 98, 0.77);
  background-blend-mode: multiply;
  height: 80vh; }
  /* line 14, static/scss/pages/_home.scss */
  .landing__headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%); }
    /* line 20, static/scss/pages/_home.scss */
    .landing__headers--logo {
      height: 20rem; }

/* line 29, static/scss/pages/_home.scss */
.home__img--1 {
  width: 100%;
  margin-bottom: 2rem; }

/* line 36, static/scss/pages/_home.scss */
.home__read-more__card {
  height: 40rem;
  padding: 5rem 4rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  transition: all .2s;
  cursor: pointer;
  width: 70%;
  margin: 0 auto 4rem auto; }
  /* line 45, static/scss/pages/_home.scss */
  .home__read-more__card > svg {
    fill: #08b2e3;
    display: block;
    margin: 0 auto;
    height: 10rem;
    width: 10rem; }
  /* line 52, static/scss/pages/_home.scss */
  .home__read-more__card--header {
    text-align: center;
    font-size: 2.3rem;
    padding: 1.5rem 0; }
  /* line 57, static/scss/pages/_home.scss */
  .home__read-more__card--text {
    font-size: 1.7rem;
    text-align: center; }
  /* line 61, static/scss/pages/_home.scss */
  .home__read-more__card--read-more {
    font-size: 1.9rem;
    text-align: center;
    margin-left: 2rem;
    color: black;
    text-decoration: none; }
    /* line 67, static/scss/pages/_home.scss */
    .home__read-more__card--read-more::after {
      content: '\2192';
      margin-left: 1rem;
      color: #08b2e3; }
  /* line 74, static/scss/pages/_home.scss */
  .home__read-more__card:hover {
    transform: translateY(-1rem); }

/* line 83, static/scss/pages/_home.scss */
.home__about--img {
  width: 100%; }

/* line 87, static/scss/pages/_home.scss */
.home__about--text-box {
  background-color: #08b2e3;
  padding: 3rem 4rem; }
  /* line 91, static/scss/pages/_home.scss */
  .home__about--text-box p {
    color: white; }

@media screen and (min-width: 1000px) {
  /* line 101, static/scss/pages/_home.scss */
  .landing {
    background-size: 100% auto; }
    /* line 104, static/scss/pages/_home.scss */
    .landing__headers {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-60%) translateX(-50%); }
      /* line 110, static/scss/pages/_home.scss */
      .landing__headers--logo {
        height: 25rem;
        display: block;
        text-align: center;
        margin: 0 auto; }
  /* line 122, static/scss/pages/_home.scss */
  .home__img--1 {
    width: 100%; }
  /* line 128, static/scss/pages/_home.scss */
  .home__read-more__card {
    height: 40rem;
    padding: 5rem 4rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
    transition: all .2s;
    cursor: pointer;
    margin: 0;
    width: 100%; }
    /* line 137, static/scss/pages/_home.scss */
    .home__read-more__card > svg {
      fill: #08b2e3;
      display: block;
      margin: 0 auto;
      height: 10rem;
      width: 10rem; }
    /* line 144, static/scss/pages/_home.scss */
    .home__read-more__card--header {
      text-align: center;
      font-size: 2.3rem;
      padding: 1.5rem 0; }
    /* line 149, static/scss/pages/_home.scss */
    .home__read-more__card--text {
      font-size: 1.7rem;
      text-align: center; }
    /* line 153, static/scss/pages/_home.scss */
    .home__read-more__card--read-more {
      font-size: 1.9rem;
      text-align: center;
      margin-left: 2rem; }
      /* line 157, static/scss/pages/_home.scss */
      .home__read-more__card--read-more::after {
        content: '\2192';
        margin-left: 1rem;
        color: #08b2e3; }
    /* line 164, static/scss/pages/_home.scss */
    .home__read-more__card:hover {
      transform: translateY(-1rem); }
  /* line 171, static/scss/pages/_home.scss */
  .home__about {
    height: 60rem;
    position: relative; }
    /* line 175, static/scss/pages/_home.scss */
    .home__about--img {
      position: absolute;
      right: 0;
      top: 3rem;
      width: 50%; }
    /* line 182, static/scss/pages/_home.scss */
    .home__about--text-box {
      position: absolute;
      bottom: 3rem;
      z-index: 3;
      width: 60%;
      background-color: #08b2e3;
      padding: 3rem 4rem; }
      /* line 190, static/scss/pages/_home.scss */
      .home__about--text-box p {
        color: white; } }

/* line 2, static/scss/pages/_info.scss */
.info__content {
  margin-bottom: 3rem;
  text-align: left !important; }

@media screen and (min-width: 1000px) {
  /* line 10, static/scss/pages/_info.scss */
  .info__content {
    margin-bottom: 0; } }

/* line 1, static/scss/pages/_reviews.scss */
.reviews {
  overflow: hidden; }

/* line 5, static/scss/pages/_reviews.scss */
.chalkboard {
  height: 55rem;
  background-image: url("/static/images/blackboard.jpg?c317da2e9ff6");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.8rem solid burlywood;
  padding: 5rem;
  overflow: hidden; }
  /* line 14, static/scss/pages/_reviews.scss */
  .chalkboard__slider {
    position: absolute;
    height: 44rem;
    width: 60%;
    margin: 0 auto;
    overflow: hidden; }
  /* line 23, static/scss/pages/_reviews.scss */
  .chalkboard__review {
    color: white;
    font-size: 2.4rem;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%; }
    /* line 37, static/scss/pages/_reviews.scss */
    .chalkboard__review--author {
      position: absolute;
      bottom: 0; }

@media screen and (min-width: 1000px) {
  /* line 47, static/scss/pages/_reviews.scss */
  .chalkboard {
    height: 35rem; }
    /* line 50, static/scss/pages/_reviews.scss */
    .chalkboard__slider {
      height: 24rem;
      width: 80%; } }

/* line 2, static/scss/pages/_staff.scss */
.staff-gallery .u-container {
  display: table;
  width: 100%;
  clear: both;
  width: 90%;
  text-align: center; }

/* line 7, static/scss/pages/_staff.scss */
.staff-gallery__staff {
  display: table;
  width: 100%;
  clear: both;
  height: 33rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  background-color: white; }
  /* line 16, static/scss/pages/_staff.scss */
  .staff-gallery__staff__img {
    width: 50%;
    height: 33rem;
    background-size: cover;
    background-position: center;
    float: left; }
  /* line 23, static/scss/pages/_staff.scss */
  .staff-gallery__staff__text {
    width: 50%;
    padding: 1rem;
    float: right;
    height: 33rem;
    overflow: scroll; }
    /* line 29, static/scss/pages/_staff.scss */
    .staff-gallery__staff__text--staff {
      font-size: 1.9rem;
      color: #08b2e3;
      padding-bottom: .5rem; }
    /* line 34, static/scss/pages/_staff.scss */
    .staff-gallery__staff__text--role {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-family: Raleway, sans-serif;
      font-weight: lighter; }
    /* line 40, static/scss/pages/_staff.scss */
    .staff-gallery__staff__text--bio {
      font-size: 1.4rem; }

@media screen and (min-width: 1000px) {
  /* line 49, static/scss/pages/_staff.scss */
  .staff-gallery__staff {
    width: calc((100% - 6rem) / 2); }
    /* line 52, static/scss/pages/_staff.scss */
    .staff-gallery__staff:nth-child(even) {
      margin-right: 3rem; } }

/* line 4, static/scss/pages/_policies.scss */
.policies__table:not(:last-child) {
  margin-bottom: 6rem; }

/* line 7, static/scss/pages/_policies.scss */
.policies__table--heading {
  text-align: center;
  color: #08b2e3;
  font-size: 3rem;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.72); }

/* line 14, static/scss/pages/_policies.scss */
.policies__table__entry {
  padding: 2rem 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.72); }
  /* line 18, static/scss/pages/_policies.scss */
  .policies__table__entry--title {
    display: inline-block;
    width: 90%;
    font-size: 1.8rem; }
  /* line 23, static/scss/pages/_policies.scss */
  .policies__table__entry--link {
    float: right;
    display: inline-block; }
    /* line 27, static/scss/pages/_policies.scss */
    .policies__table__entry--link img {
      height: 1,6rem; }

/* line 1, static/scss/pages/_donations.scss */
#validation-form {
  display: none; }

/* line 5, static/scss/pages/_donations.scss */
.donations select {
  float: right; }

/* line 9, static/scss/pages/_donations.scss */
.donations__form {
  display: table;
  width: 100%;
  clear: both;
  padding: 3rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18); }
  /* line 15, static/scss/pages/_donations.scss */
  .donations__form--logo {
    width: 100%; }
  /* line 18, static/scss/pages/_donations.scss */
  .donations__form--donation {
    font-size: 4rem; }
  /* line 21, static/scss/pages/_donations.scss */
  .donations__form label {
    float: left;
    width: 70%;
    text-align: left;
    padding-bottom: 0;
    color: unset;
    margin-bottom: .5rem; }
  /* line 30, static/scss/pages/_donations.scss */
  .donations__form--button {
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    border: none;
    background-color: #08b2e3;
    color: white;
    cursor: pointer; }
    /* line 39, static/scss/pages/_donations.scss */
    .donations__form--button:not(:last-child) {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    /* line 44, static/scss/pages/_donations.scss */
    .donations__form--button:disabled {
      background: #dddddd; }
  /* line 49, static/scss/pages/_donations.scss */
  .donations__form--input {
    width: 100%;
    background-color: transparent;
    box-shadow: 0.1rem 0 0.5rem 0.1rem rgba(233, 233, 233, 0.65);
    border: 1px solid rgba(233, 233, 233, 0.65);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.7rem; }
    /* line 57, static/scss/pages/_donations.scss */
    .donations__form--input::placeholder {
      color: #f1f1f1; }
    /* line 61, static/scss/pages/_donations.scss */
    .donations__form--input:not(:last-child) {
      margin-bottom: 2rem; }

/* line 2, static/scss/pages/_contact.scss */
.contact h2 {
  font-size: 2.5rem; }

/* line 5, static/scss/pages/_contact.scss */
.contact__openings, .contact__details {
  font-size: 1.9rem; }

/* line 9, static/scss/pages/_contact.scss */
.contact__openings {
  margin-bottom: 3rem; }

@media screen and (max-width: 1000px) {
  /* line 16, static/scss/pages/_contact.scss */
  .contact__openings {
    margin-bottom: 0; } }
