.staff-gallery {
    & .u-container {
        @include clearfix;
        width: 90%;
        text-align: center;
    }
    &__staff {
        @include clearfix;
        height: 33rem;
        display: inline-block;
        overflow: hidden;
        width: 100%;
        margin-bottom: 2rem;
        @include shadow;
        background-color: white;
        text-align: left;
        &__img{
            width: 50%;
            height: 33rem;
            background-size: cover;
            background-position: center;
            float: left;
        }
        &__text {
            width: 50%;
            padding: 2rem;
            float: right;
            height: 33rem;
            overflow: scroll;
            background-color: white;
            &--staff {
                font-size: 2.3rem;
                color: #08b2e3;
                font-weight: 100;
            }
            &--company {
                font-size: 1.7rem;
                color: #08b2e3;
                padding-bottom: 1rem;
                font-family: Raleway, sans-serif;
            }
            &--role {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                font-family: Raleway, sans-serif;
                font-weight: lighter;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
  .staff-gallery {
      &__staff {
          width: calc((100% - 6rem) / 2);

          &:nth-child(even){
              margin-right: 3rem;
          }
      }
  }

}