.button{
    &__primary{
        @include button;
    color: white;
    background-color: #08b2e3;
    }

    &__secondary {
        @include button;
        background-color: white;
        color: #08b2e3;
    }
}