.donation{
    &__banner {
        padding: 12rem 0;
        background-image: url("/static/images/landing/back5.jpg");
        background-color: rgba(121, 121, 121, 0.81);
        background-blend-mode: multiply;
        background-size: cover;
        background-position: center center;

        &--text {
            color: white;
            font-size: 1.5em;

            & p {
                color: white;
                font-size: 2.2rem;
            }

            &--ach {
                font-size: 1.6rem !important;
            }
        }
    }
}