.sponsers {
  text-align: center;
    &__sponser {
        display: inline-block;
        width: 15rem;
      height: 12rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-top: 1rem;
        &:not(:last-child){
          margin-right: 2rem;
        }
    }
}