.landing {
    position: relative;
    background-image: url("/static/images/landing/back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #ffffff;
    background-blend-mode: multiply;
    height: 80vh;

    &__headers {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-60%) translateX(-50%);
    }
}

.home {
    &__img {
        &--1 {
            width: 100%;
        }
    }

    &__read-more{
        &__card {
            height: 40rem;
            padding: 5rem 4rem;
            background-color: white;
            box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
            transition: all .2s;
            cursor: pointer;
            & > svg {
                fill: #08b2e3;
                display: block;
                margin: 0 auto;
                height: 10rem;
                width: 10rem;
            }
            &--header {
                text-align: center;
                font-size: 2.3rem;
                padding: 1.5rem 0;
            }
            &--text {
                font-size: 1.7rem;
                text-align: center;
            }
            &--read-more {
                font-size: 1.9rem;
                text-align: center;
                margin-left: 2rem;
                &::after {
                  content: '\2192';
                  margin-left: 1rem;
                  color: #08b2e3;
                }
            }

            &:hover {
              transform: translateY(-1rem);
            }
        }
    }


    &__about {
        height: 60rem;
        position: relative;

        &--img {
            position: absolute;
            right: 0;
            top: 6rem;
            width: 50%;
        }

        &--text-box {
            position: absolute;
            bottom: 6rem;
            z-index: 3;
            width: 60%;
            background-color: #08b2e3;
            padding: 3rem 4rem;

            & p {
                color: white;

            }
        }
    }
}
