/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

section {
    padding: 3rem 0;
}

.messages {
    text-align: center;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1.7em;

    &__error {
        background-color: rgba(255, 73, 63, 0.80);
    }

    &__success {
        background-color: rgba(75, 220, 130, 0.8);
    }
}