/* Testimonial Animation */
@-moz-keyframes cycle {
  0% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  10% {
    top: 0;
    opacity: 1;
    z-index: 0; }
  20% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  21% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@-moz-keyframes cycle2 {
  0% {
    top: -325px;
    opacity: 0; }
  15% {
    top: -325px;
    opacity: 0; }
  25% {
    top: 0;
    opacity: 1; }
  35% {
    top: 0;
    opacity: 1; }
  45% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  92% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  96% {
    top: -325px;
    opacity: 0; }
  100% {
    top: 0;
    opacity: 1; } }

@-moz-keyframes cycle3 {
  0% {
    top: -325px;
    opacity: 0; }
  40% {
    top: -325px;
    opacity: 0; }
  50% {
    top: 0;
    opacity: 1; }
  60% {
    top: 0;
    opacity: 1; }
  70% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  95% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: -325px;
    opacity: 0; } }

@-moz-keyframes cycle4 {
  0% {
    top: -325px;
    opacity: 0; }
  65% {
    top: -325px;
    opacity: 0; }
  75% {
    top: 0;
    opacity: 1; }
  85% {
    top: 0;
    opacity: 1; }
  95% {
    top: 325px;
    opacity: 0;
    z-index: 0; }
  96% {
    top: -325px;
    opacity: 0;
    z-index: -1; }
  100% {
    top: 0;
    opacity: 1; } }

.review--1 {
  animation: cycle 25s linear infinite; }

.review--2 {
  animation: cycle2 25s linear infinite; }

.review--3 {
  animation: cycle3 25s linear infinite; }

.review--4 {
  animation: cycle4 25s linear infinite; }

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

section {
  padding: 3rem 0; }

.messages {
  text-align: center;
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.7em; }
  .messages__error {
    background-color: rgba(255, 73, 63, 0.8); }
  .messages__success {
    background-color: rgba(75, 220, 130, 0.8); }

h1, h2, p, a, th, td, label, input, li, .donations__form--errors, textarea {
  font-family: 'Lexend Deca', sans-serif; }

.heading__landing {
  text-align: center;
  font-size: 2rem;
  color: white; }
  .heading__landing--main {
    display: block;
    margin: 0 auto 1rem auto; }
  .heading__landing--sub {
    font-size: 4rem;
    font-family: 'Indie Flower', cursive; }

.heading__primary {
  background-color: #08b2e3;
  text-align: center;
  padding: 1rem 0;
  font-size: 3.5rem;
  color: white; }
  .heading__primary--padded {
    background-color: #08b2e3;
    text-align: center;
    padding: 4rem 0;
    font-size: 3.5rem;
    color: white; }

.heading__secondary {
  font-size: 4rem;
  text-align: center; }
  .heading__secondary--white {
    font-size: 4rem;
    color: white; }

.paragraph {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #5f5f5f;
  font-family: 'Roboto', sans-serif; }

.u-autoescaped p {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #5f5f5f;
  font-family: 'Roboto', sans-serif; }

.u-container {
  width: 80%;
  margin: 0 auto; }

.u-offset {
  background-color: #d6d6d6; }

.u-offset--trustee {
  background-color: #08b2e3; }

.u-margin-small {
  margin-bottom: 1rem; }

.u-margin-medium {
  margin-bottom: 2rem; }

.u-margin-big {
  margin-bottom: 3rem; }

.u-text-left {
  text-align: left; }

.u-text-center {
  text-align: center; }

.u-underline {
  border-bottom: #fdff5e 3px solid; }

.u-underline-blue {
  border-bottom: #08b2e3 3px solid; }

.u-float-left {
  float: left; }

.u-bold {
  font-weight: bold; }

.u-text-smaller p {
  font-size: 1.6rem; }

.u-full-width {
  width: 100%; }

.donation__banner {
  padding: 12rem 0;
  background-image: url("/static/images/landing/back5.jpg");
  background-color: rgba(121, 121, 121, 0.81);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center center; }
  .donation__banner--text {
    color: white;
    font-size: 1.5em; }
    .donation__banner--text p {
      color: white;
      font-size: 2.2rem; }
    .donation__banner--text--ach {
      font-size: 2.6rem !important; }

/*Cookie Consent Begin*/
#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  #cookieConsent a {
    color: #08b2e3;
    text-decoration: none; }

#closeCookieConsent {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold; }

#closeCookieConsent:hover {
  color: #FFF; }

#cookieConsent a.cookieConsentOK {
  background-color: #fdff5e;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px; }

#cookieConsent a.cookieConsentOK:hover {
  background-color: #fdff5e; }

/*Cookie Consent End*/
.button__primary {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: #08b2e3; }
  .button__primary:hover {
    transform: translateY(-0.6rem);
    transition: all .2s; }

.button__secondary {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: #08b2e3; }
  .button__secondary:hover {
    transform: translateY(-0.6rem);
    transition: all .2s; }

.contact-form label {
  display: none; }

.contact-form {
  background-color: #08b2e3;
  padding: 3rem; }
  .contact-form textarea {
    height: 3.9rem; }
  .contact-form input, .contact-form textarea {
    height: 2.9rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.7rem; }
    .contact-form input::placeholder, .contact-form textarea::placeholder {
      color: #f1f1f1; }
    .contact-form input:not(:last-child), .contact-form textarea:not(:last-child) {
      margin-bottom: 2rem; }

.map {
  border-top: 3px solid white !important;
  height: 46.5rem; }

@media screen and (min-width: 1000px) {
  .contact-form {
    width: 50%;
    float: left;
    padding: 3rem 3rem 3rem 0; }
    .contact-form__background {
      display: table;
      width: 100%;
      clear: both;
      background-color: #08b2e3; }
    .contact-form__container {
      width: 80%;
      margin: 0 auto; }
  .map {
    border-top: none !important;
    width: 50%;
    float: right;
    position: absolute; } }

.corkboard {
  background-image: url("/static/images/corkboard.jpg");
  background-size: cover;
  border: 8px solid burlywood;
  padding: 1rem; }

.sticky-note {
  background-color: #f8ff7f;
  padding: 1rem; }
  .sticky-note:nth-child(even) {
    background-color: #99f3fd; }
  .sticky-note:not(:last-child) {
    margin-bottom: 2rem; }
  .sticky-note p {
    padding: 0 1rem 1rem 1rem; }
  .sticky-note--pin {
    display: block;
    margin: 1rem auto;
    background-color: red;
    width: 15px;
    box-shadow: 0.1rem 0.1rem 0.5rem 0.3rem rgba(40, 40, 40, 0.45);
    height: 15px;
    border-radius: 50%; }

.sponsers {
  text-align: center; }
  .sponsers__sponser {
    display: inline-block;
    width: 15rem;
    height: 12rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem; }

.header {
  display: table;
  width: 100%;
  clear: both; }
  .header__contact {
    font-size: 1.5rem;
    padding: .5rem 0;
    text-align: center;
    top: 0;
    z-index: 200;
    display: table;
    width: 100%;
    clear: both;
    width: 100%;
    background-color: #08b2e3;
    color: white; }
    .header__contact--phone {
      transition: all 0.2s;
      text-transform: uppercase; }
      .header__contact--phone:hover {
        transform: scale(1.2); }
    .header__contact--email {
      transition: all 0.2s;
      text-transform: uppercase; }
      .header__contact--email:hover {
        transform: scale(1.2); }
  .header svg {
    display: inline-block;
    float: left;
    fill: #08b2e3;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    transition: all .2s; }
  .header #menu-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(0%); }
  .header__header {
    padding: 1rem 0;
    display: table;
    width: 100%;
    clear: both;
    position: relative; }
  .header__logo-box {
    float: left; }
    .header__logo-box--logo {
      height: 10rem; }
  .header__nav-link {
    width: 100%;
    text-align: center;
    display: block;
    height: 6rem;
    transition: all .2s;
    padding: 1rem 2rem;
    cursor: pointer; }
    .header__nav-link:last-child {
      margin-bottom: 1rem; }
    .header__nav-link--text {
      display: inline-block;
      font-size: 1.8rem;
      text-align: right;
      padding: 1rem 0;
      text-transform: uppercase;
      color: #08b2e3;
      float: left;
      margin-left: 5rem;
      text-decoration: none; }
    .header__nav-link:hover {
      background-color: #08b2e3; }
      .header__nav-link:hover .header__nav-link--text {
        color: white; }
      .header__nav-link:hover > svg {
        fill: white; }
  .header__nav {
    display: none; }

@media screen and (min-width: 1000px) {
  #menu-icon {
    display: none; }
  .header {
    margin-top: 2.8rem; }
    .header__nav {
      display: block;
      float: right; }
    .header__logo-box {
      position: absolute;
      transform: translateY(-15%);
      border-radius: 50%;
      background-color: white;
      height: 12rem;
      width: 12rem;
      padding: 1rem;
      z-index: 100;
      box-shadow: 1px 5px 0.5rem 0.1rem rgba(0, 0, 0, 0.55);
      transition: all .2s; }
      .header__logo-box:hover {
        transform: scale(1.2) translateY(-1.5rem); }
      .header__logo-box--logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 11rem;
        height: unset; }
    .header__header {
      padding: 0; }
    .header svg {
      display: inline-block;
      text-align: center;
      float: unset;
      fill: #08b2e3;
      width: 4rem;
      height: 4rem;
      transition: all .2s;
      margin: 0 auto; }
    .header__nav-link {
      width: 10rem;
      height: unset;
      float: left;
      margin: 0;
      padding: 1rem; }
      .header__nav-link:last-child {
        margin-bottom: 0; }
      .header__nav-link--text {
        display: block;
        font-size: 1.2rem;
        text-align: center;
        padding: .5rem 0 0 0;
        text-transform: uppercase;
        float: unset;
        margin-left: 0;
        transition: all .2s; }
      .header__nav-link:hover {
        background-color: #08b2e3; }
        .header__nav-link:hover .header__nav-link--text {
          color: white; }
        .header__nav-link:hover > svg {
          fill: white;
          transform: scale(1.1) translateY(-0.5rem); }
    .header__contact {
      position: fixed; }
      .header__contact--email {
        float: right;
        text-align: right; }
      .header__contact--phone {
        float: left;
        text-align: left; } }

.slide__card--front {
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18); }
  .slide__card--front--img {
    width: 100%;
    height: 30rem;
    background-size: cover;
    background-position: center; }
  .slide__card--front--staff {
    text-align: center;
    font-size: 3rem;
    padding: 1rem 0 0 0;
    color: #08b2e3; }
  .slide__card--front--role {
    text-align: center;
    font-size: 2rem;
    padding: .5rem 0 1rem 0; }

.slide__card--back {
  display: none; }

.slick-track {
  height: 42rem; }

.slick-slider {
  margin: 0 auto;
  width: 100%; }

.slick-slide {
  height: 38rem;
  margin: 1rem;
  text-align: center; }

.slick-prev:before, .slick-next:before {
  color: #282828; }

@media screen and (min-width: 1000px) {
  .slick-slider {
    width: 100%; }
  .slick-slide {
    width: 25rem !important; }
  .slide {
    cursor: pointer; }
    .slide:hover .slide__inner {
      transform: rotateY(180deg); }
    .slide__inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: all .4s linear;
      transform-style: preserve-3d; }
    .slide__card--front {
      width: 100%;
      box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
      position: absolute;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      /* again */ }
      .slide__card--front--img {
        width: 100%;
        height: 30rem;
        background-size: cover;
        background-position: center; }
      .slide__card--front--staff {
        text-align: center;
        font-size: 3rem;
        padding: 1rem 0 0 0;
        color: #08b2e3; }
      .slide__card--front--role {
        text-align: center;
        font-size: 2rem;
        padding: .5rem 0 1rem 0; }
    .slide__card--back {
      display: block;
      overflow: hidden;
      height: 38.8rem;
      width: 100%;
      box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
      position: absolute;
      backface-visibility: hidden;
      background-color: white;
      transform: rotateY(180deg); }
      .slide__card--back:hover {
        overflow-y: scroll; }
      .slide__card--back--staff {
        font-size: 2.3rem;
        padding-bottom: .5rem;
        color: #08b2e3; }
      .slide__card--back:last-child {
        padding: 2rem 1rem; }
  .slick-slide {
    height: 41rem; }
  .slick-prev:before, .slick-next:before {
    color: #282828; } }

/*
.slide {
    cursor: pointer;
    &:hover &__inner {
        transform: rotateY(180deg);
    }

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    &__card {
        &--front {
            width: 29rem;
            margin-left: 1rem;
            margin-right: 1rem;
            box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
            position: absolute;
            backface-visibility: hidden;
            &--img {
                width: 100%;
                height: 30rem;
                background-size: cover;
                background-position: center;
            }
            &--staff {
                text-align: center;
                font-size: 3rem;
                padding: 1rem 0 0rem 0;
                color: #08b2e3;
            }

            &--role {
                text-align: center;
                font-size: 2rem;
                padding: .5rem 0 1rem 0;
            }
        }
        &--back {
            height: 38.8rem;
            width: 29rem;
            margin-left: 1rem;
            margin-right: 1rem;
            box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
            position: absolute;
            backface-visibility: hidden;
            background-color: white;
            transform: rotateY(180deg);

            &--staff {
                font-size: 2.3rem;
                padding: 1rem;
                color: #08b2e3;
            }
        }
    }

}

.slick-slide {
    height: 41rem;
}

.slick-prev:before, .slick-next:before {
    color: #282828;
}
*/
.footer {
  width: 100%;
  padding: 3rem;
  display: table;
  width: 100%;
  clear: both;
  position: relative;
  background-color: #d6d6d6; }
  .footer__logo {
    height: 10rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .footer__nav {
    display: block;
    text-align: center;
    margin-bottom: 3rem; }
    .footer__nav--item {
      display: inline-block;
      color: white;
      font-size: 2.1rem;
      text-decoration: none;
      padding: .5rem 0; }
      .footer__nav--item:not(:last-child) {
        margin-right: 2rem; }
  .footer p {
    text-align: center;
    color: white;
    font-size: 2rem; }

.row {
  margin: 0 auto;
  padding: 0; }
  .row:not(:last-child) {
    margin-bottom: 0; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    width: 100%;
    text-align: center; }
  .row .col-1-of-4__social {
    float: left;
    width: calc((100% - 3 * 0rem) / 4);
    border: none; }

@media screen and (min-width: 1000px) {
  .row [class^='col-'] {
    float: left;
    width: unset;
    border: none; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem;
      float: left; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 6rem) / 6); }
    .row .col-1-of-6--nav {
      width: calc((100% - 5 * 6rem) / 6); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc(((100% - 6rem) / 2)); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); } }

#mobile-table {
  display: none; }

.activity .u-container {
  overflow-x: scroll; }

table {
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  width: 100%;
  text-align: left;
  border-spacing: 0 0;
  border-radius: .5rem; }
  table thead {
    font-size: 1.5rem; }
    table thead th {
      color: #08b2e3;
      padding: 2rem 2rem .5rem 0;
      border-bottom: 2px solid rgba(224, 224, 224, 0.72); }
  table tbody td {
    font-size: 1.4rem;
    padding: 2rem 2rem 2rem 0;
    border-bottom: 2px solid rgba(224, 224, 224, 0.72); }

/* Landing */
.landing {
  position: relative;
  background-image: url("/static/images/landing/back9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(98, 98, 98, 0.77);
  background-blend-mode: multiply;
  height: 80vh; }
  .landing__headers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-60%) translateX(-50%); }
    .landing__headers--logo {
      height: 15rem; }

.home__img--1 {
  width: 100%;
  margin-bottom: 2rem; }

.home__read-more__card {
  height: 40rem;
  padding: 5rem 4rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  transition: all .2s;
  cursor: pointer;
  width: 85%;
  margin: 0 auto 4rem auto; }
  .home__read-more__card > svg {
    fill: #08b2e3;
    display: block;
    margin: 0 auto;
    height: 10rem;
    width: 10rem; }
  .home__read-more__card--header {
    text-align: center;
    font-size: 2.3rem;
    padding: 1.5rem 0; }
  .home__read-more__card--text {
    font-size: 1.7rem;
    text-align: center; }
  .home__read-more__card--read-more {
    font-size: 1.9rem;
    text-align: center;
    margin-left: 2rem;
    color: black;
    text-decoration: none; }
    .home__read-more__card--read-more::after {
      content: '\2192';
      margin-left: 1rem;
      color: #08b2e3; }
  .home__read-more__card:hover {
    transform: translateY(-1rem); }

.home__about--img {
  width: 100%; }

.home__about--text-box {
  background-color: #08b2e3;
  padding: 3rem 4rem; }
  .home__about--text-box p {
    color: white; }

@media screen and (min-width: 1000px) {
  .landing {
    background-size: 100% auto; }
    .landing__headers {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-60%) translateX(-50%); }
      .landing__headers--logo {
        height: 25rem;
        display: block;
        text-align: center;
        margin: 0 auto; }
  .home__img--1 {
    width: 100%; }
  .home__read-more__card {
    height: 40rem;
    padding: 5rem 4rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
    transition: all .2s;
    cursor: pointer;
    margin: 0;
    width: 100%; }
    .home__read-more__card > svg {
      fill: #08b2e3;
      display: block;
      margin: 0 auto;
      height: 10rem;
      width: 10rem; }
    .home__read-more__card--header {
      text-align: center;
      font-size: 2.3rem;
      padding: 1.5rem 0; }
    .home__read-more__card--text {
      font-size: 1.7rem;
      text-align: center; }
    .home__read-more__card--read-more {
      font-size: 1.9rem;
      text-align: center;
      margin-left: 2rem; }
      .home__read-more__card--read-more::after {
        content: '\2192';
        margin-left: 1rem;
        color: #08b2e3; }
    .home__read-more__card:hover {
      transform: translateY(-1rem); }
  .home__about {
    height: 60rem;
    position: relative; }
    .home__about--img {
      position: absolute;
      right: 0;
      top: 3rem;
      width: 50%; }
    .home__about--text-box {
      position: absolute;
      bottom: 3rem;
      z-index: 3;
      width: 60%;
      background-color: #08b2e3;
      padding: 3rem 4rem; }
      .home__about--text-box p {
        color: white; } }

.info__content {
  margin-bottom: 3rem;
  text-align: left !important; }

@media screen and (min-width: 1000px) {
  .info__content {
    margin-bottom: 0; } }

.reviews {
  overflow: hidden; }

.chalkboard {
  height: 55rem;
  background-image: url("/static/images/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.8rem solid burlywood;
  padding: 5rem;
  overflow: hidden; }
  .chalkboard__slider {
    position: absolute;
    height: 44rem;
    width: 53%;
    margin: 0 auto;
    overflow: hidden; }
  .chalkboard__review {
    color: white;
    font-size: 2.4rem;
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%; }
    .chalkboard__review--author {
      position: absolute;
      bottom: 0; }

@media screen and (min-width: 1000px) {
  .chalkboard {
    height: 35rem; }
    .chalkboard__slider {
      height: 24rem;
      width: 70%; } }

.staff-gallery .u-container {
  display: table;
  width: 100%;
  clear: both;
  width: 90%;
  text-align: center; }

.staff-gallery__staff {
  display: table;
  width: 100%;
  clear: both;
  height: 33rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  background-color: white;
  text-align: left; }
  .staff-gallery__staff__img {
    width: 50%;
    height: 33rem;
    background-size: cover;
    background-position: center;
    float: left; }
  .staff-gallery__staff__text {
    width: 50%;
    padding: 2rem;
    float: right;
    height: 33rem;
    overflow: scroll;
    background-color: white; }
    .staff-gallery__staff__text--staff {
      font-size: 2.3rem;
      color: #08b2e3;
      font-weight: 100; }
    .staff-gallery__staff__text--company {
      font-size: 1.7rem;
      color: #08b2e3;
      padding-bottom: 1rem;
      font-family: Raleway, sans-serif; }
    .staff-gallery__staff__text--role {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      font-family: Raleway, sans-serif;
      font-weight: lighter; }

@media screen and (min-width: 1000px) {
  .staff-gallery__staff {
    width: calc((100% - 6rem) / 2); }
    .staff-gallery__staff:nth-child(even) {
      margin-right: 3rem; } }

.policies__table:not(:last-child) {
  margin-bottom: 6rem; }

.policies__table--heading {
  text-align: center;
  color: #08b2e3;
  font-size: 3rem;
  padding: 1rem 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.72); }

.policies__table__entry {
  padding: 2rem 0;
  border-bottom: 2px solid rgba(224, 224, 224, 0.72); }
  .policies__table__entry--title {
    display: inline-block;
    width: 90%;
    font-size: 1.8rem; }
  .policies__table__entry--link {
    float: right;
    display: inline-block; }
    .policies__table__entry--link img {
      height: 1,6rem; }

#donation-form {
  width: 80%;
  display: none;
  position: fixed;
  z-index: 100;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.donations__form {
  position: relative;
  display: table;
  width: 100%;
  clear: both;
  box-shadow: 0.1rem 0.1rem 0.5em 0.5rem rgba(40, 40, 40, 0.18);
  padding: 3rem 2rem;
  background-color: white; }
  .donations__form--close {
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer; }
  .donations__form--logo {
    width: 100%;
    margin-bottom: 2rem; }
  .donations__form--donation {
    font-size: 3rem; }
  .donations__form label {
    float: left;
    width: 70%;
    text-align: left;
    padding-bottom: 0;
    font-size: 1.5rem;
    color: unset;
    margin-bottom: .5rem; }
  .donations__form--button {
    width: 100%;
    padding: 1rem 3rem;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    border: none;
    background-color: #08b2e3;
    color: white;
    cursor: pointer; }
    .donations__form--button:not(:last-child) {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .donations__form--button:disabled {
      background: #dddddd; }
  .donations__form select {
    width: 30%; }
  .donations__form--errors {
    width: 100%;
    color: red !important;
    font-size: 2rem !important;
    padding: 2rem 1rem 1rem 1rem;
    display: none; }
  .donations__form--input {
    width: 100%;
    background-color: transparent;
    box-shadow: 0.1rem 0 0.5rem 0.1rem rgba(233, 233, 233, 0.65);
    border: 1px solid rgba(233, 233, 233, 0.65);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.7rem; }
    .donations__form--input::placeholder {
      color: #565656; }
    .donations__form--input:not(:last-child) {
      margin-bottom: 2rem; }

#credit-card-errors {
  padding: 0; }

.loader {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@media screen and (min-width: 1000px) {
  #donation-form {
    top: 50%;
    width: 30%; } }

.contact h2 {
  font-size: 2.5rem; }

.contact__openings, .contact__details {
  font-size: 1.9rem; }

.contact__openings {
  margin-bottom: 3rem; }

@media screen and (max-width: 1000px) {
  .contact__openings {
    margin-bottom: 0; } }
