<form id="donation-form" method="post" class="donations__form">
    <p class="donations__form--close">X</p>
    <p class="donations__form--donation">Donation -  £<span id="donation_fee"></span></p>
    <p class="u-text-smaller paragraph u-margin-medium">Thank you for your contribution</p>

    {% csrf_token %}
    {{ form }}
    <div class="donations__form--errors" id="stripe-error-message"></div>
    <div class="donations__form--errors" id="credit-card-errors"></div>
    <input id="validate_card_btn" type="button" value="Validate" class="donations__form--button">
    <input id="form-submit" type="submit" value="Submit" class="donations__form--button">
    <div class="loader"></div>

</form>

