{% include 'components/sponsers.html' %}
{% include 'components/contact-form.html' %}

<footer class="footer">

    <div class="u-container">

        <div class="footer__nav">
            <a href="/" class="footer__nav--item">Home</a>
            <a href="/information" class="footer__nav--item">Info</a>
            <a href="/activities" class="footer__nav--item">Activities</a>
            <a href="/staff" class="footer__nav--item">Staff</a>
            <a href="/reviews" class="footer__nav--item">Reviews</a>
            <a href="/policies" class="footer__nav--item">Policies</a>
            <a href="/fundraising" class="footer__nav--item">Fundraising</a>
            <a href="/contact" class="footer__nav--item">Contact</a>
        </div>
        <p>Charity Number: 279083</p>
    </div>

</footer>