<header class="header">

        <div class="header__contact">
            <div class="u-container">
                <p class="header__contact--phone">01702667455</p>
                <p class="header__contact--email">share.enquireies@gmail.com</p>
            </div>
        </div>

    <div class="u-container">
        <div class="header__logo-box">
            <img class="header__logo-box--logo" src="/static/images/logo/logo.png" alt="Share Respite Logo"/>

        </div>

        <nav class="header__nav">
            <div class="header__nav-link">
                {% include 'icons/home-icon.html' %}
                <p class="header__nav-link--text">Home</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/van-icon.html' %}
                <p class="header__nav-link--text">Activities</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/review-icon.html' %}
                <p class="header__nav-link--text">Reviews</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/staff-icon.html' %}
                <p class="header__nav-link--text">Staff</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/donations-icon.html' %}
                <p class="header__nav-link--text">Donations</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/policy-icon.html' %}
                <p class="header__nav-link--text">Policies</p>
            </div>
            <div class="header__nav-link">
                {% include 'icons/contact-icon.html' %}
                <p class="header__nav-link--text">Contact</p>
            </div>
        </nav>
    </div>
</header>